<footer class="section-padding">
  <div class="container-fluid">
    <div class="row align-items-center gy-5">
      <div class="col-md-4">
        <h2><a href="{% url 'home' %}" class="b-transition">bloggify</a></h2>
      </div>
      <div class="col-md-4">
        <div class="footer-about">
          <h4>About Us</h4>
          <p>
            Made with 💗 by Golam Kibria. bloggify is a full featured blog
            powered by most popular framework - Django. 🚀
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-socials">
          <h4>Socials</h4>
          <ul>
            <li>
              <a href="https://facebook.com/shuvo.2k16"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://instagram.com/g_k_shuvo"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://linkedin.com/in/g-k-shuvo"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/g_k_shuvo"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/g-k-shuvo"
                ><i class="fab fa-github"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
